.ball1{
    width: 250px;
    position: fixed;
    top: 5%;
    left: 75%;
}
  
.ball2{
    width: 150px;
    top: 85%;
    left: -10px;
    position: fixed;
    z-index:0;
}
.title{
    color: white;
    font-family: 'Cooper Black';
    font-size: 60px;
    font-weight: 300;
    padding: 20px;
    margin-top: 40px;
}

.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    width:320px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 20px; 
       
}
.selection1{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box{
    display: flex;
    margin-bottom: 100px;

 }
 .amount{
    color: white;
    display: flex;
    padding-left: 0px;

 }
 .button1{
    height: 60px;
    width: 350px;
    min-width: 200px;
    margin: 10px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid rgba(86, 86, 86, 0.2);
    backdrop-filter: blur(15px);
    background: linear-gradient(to bottom right, rgba(61, 249, 28, 0.75) 0%, rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 0; /* Add this line to remove bottom margin */
}

.button2 {
    height: 65px;
    width: 350px;
    min-width: 200px;
    margin: 10px;
    color: white;
    background-color: #263238;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid rgba(161, 196, 154, 0.25);
    backdrop-filter: blur(15px);
    background: linear-gradient(to bottom right, rgba(92, 92, 92, 0.75) 20%, rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    margin: none;
}