.imgback{
    background-color: rgb(107, 191, 89);
    margin-right: 0%;
    width: 600px;
    height: 800px;

}
.ball1 {
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 75%;
}
  
.ball2{
    width: 150px;
    top: 85%;
    left: -10px;
    position: fixed;
    z-index:0;
}
.wholething{
    width: 80%;
    display: flex;
    align-items: center;
}
.img{
    background-color: rgb(107, 191, 89, 0);
    width: 400px;
    height: 400px;
    padding-left: 80px;
    padding-top: 40%;
}
.title{
    color: white;
    font-family: 'Cooper Black';
    font-size: 60px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-shadow: -2px -2px 0  black,  
                  2px -2px 0 black,
                 -2px  2px 0 #fff,
                  2px  2px 0 #fff;
    transform: perspective(800px);
}

.selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    width:320px;
    font-size: 18px;
    margin: 10px;
    padding: 20px; 
       
}
.selection1{
    font-size: 18px;
    padding-top: 10px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.password{
    color: white;
    margin-left: 21%;
    padding-bottom: 40px;
}
.box{
    display: flex;
    margin-bottom: 50px;
    margin-top: 10px;

 }
 .amount{
    color: white;
    display: flex;
    padding-left: 0px;

 }

 .button1 {
    height: 65px;
    width: 350px;
    min-width: 200px;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid rgba(146, 255, 68, 0.2);
    backdrop-filter: blur(15px);
    background: linear-gradient(to bottom right, rgba(61, 249, 28, 0.75) 0%, rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    margin-bottom: 0; /* Add this line to remove bottom margin */
}

.button2 {
    height: 65px;
    width: 350px;
    min-width: 200px;
    color: white;
    background-color: #263238;
    border-radius: 10px;
    font-size: 24px;
    border: 1px solid rgba(161, 196, 154, 0.25);
    backdrop-filter: blur(15px);
    background: linear-gradient(to bottom right, rgba(161, 196, 154, 0.75) 20%, rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(10px);
    margin: none;
}