.slick-slide > div {
    margin: 0px 20px;
  }
.cardstarts{
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 100px;
}

.card{
    color: white;
    background-color: #202020;
    height: 200px;
    width: 100vw;
    margin: 20px;
    border-radius: 15px;
}
h1{
    padding: 120px 60px 0px 60px;
    color: white;
    font-size: 50px;
}
h2{
    width: 100%;
    height: 20px;
    margin: 20px;
}
p{
    margin: 20px;
    height: 40px;

}
.review1{
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.buttonbook{
    border: none;
    background-color: #6BBF59;
    color: black;
    padding: 10px;
    margin: 20px 20px 10px 10px;
    border-radius: 5px;
        
}

.buttoncontainer
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.wholething{
    width: 100%;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
    font-family: 'Cooper Black';
    font-size: 20px;
    color: white;
    padding: 20px 60px;
}

nav{
    color: white;
    display: flex;
    font-size: 50px;
    font-weight: 900;
    padding: 60px 20px;
    align-items: center;
    font-family: inter;
    justify-content: space-between;
}

.title{
    font-size: 50px;
    font-family: 'Cooper Black';
    
}
.unorderlist{
    display: flex;
    align-items: center;
}

.imgicon{
    width: 20px;
    margin-right: 20px;
    background-color: white;
}
.link{
    list-style: none;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding-right: 40px;
    align-items: center;
    
}
.link1{
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    display: flex;
    margin-right: 90px;
}
.wordcolor{
    color: #3ED14D;
}

.body{
    color: white;
    display: inline-flex;
    justify-content: space-around;
    height: 400px;
}
.midimg{
    width: 60vh;
    height: 60vh;
}
.para1{
    padding-top: 70px;
    font-size: 36px;
    color: #6BBF59;
    font-family: 'Cooper Black';
}
.para{
    color: white;
    font-size: 48px;
    font-family: 'Cooper Black';

}

.whole{
    width: 50%;
}

.avalability{
    margin: 100px 10px 100px 10px;
}
.footer{
    color: white;
    display: flex;
    margin-top: 100px;
    margin-left: 20px;
    padding-right: 200px;
    padding-left: 200px;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
    margin-bottom: 60px;
}

.body1{
    min-height: 100vh;
    display: flex;/*check*/
    align-items: center;/*check*/
    justify-content: center;/*check*/
    background: white;
}

.s_container{
    max-width: 1120px;
    width: 100%;
    background-color: grey;
    padding: 40px 0;
}

.place_name{
    font-family: 'lucida fax';
    font-weight: 900;
    font-size: 28px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    
}
.s_content{
    margin: 0 40px;
}
.card1{
    border-radius: 25px;
    background-color: #EFEFEF;
    width: 220px;

}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    left: 0;
    top: 0;
    border-radius: 25px 25px 0px 25px;
}

.overlay::before, .overlay::after{
    position:absolute;
    content: '';
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;

}
.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #EFEFEF;
}

.place1{
    color: black;
    position: relative;
    height: 20px;
    width: 80px;
    background: white;
    padding: 3px;
    height: 60px;
    width: 40%;
    object-fit: cover;
    border: 3px solid blue;
    text-align: center;
    border-radius: 20px;
}


.name, .c_content{
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    position: relative;
    row-gap: 5px;
    
}

.button1{
    margin: 10%;
    cursor: pointer;
    
}

