:root{
    background-color: black;
}
.toppart{
    display: flex;
    justify-content: space-between;
    text-align: center;

}
.title{
    padding-left: 90px;
    margin-top: 2%;
    font-family: 'cooper black';
    font-size: 60px;
    color: white;
}

.list1{
    list-style: none;
    display: flex;
    margin-right: 7%;
    gap: 100px;
    margin-top: 3.5%;
    font-size: 20px;
    cursor: pointer; /* Change cursor to pointer */

}

.button3{
    color: #3ED14D;

}
.midarea{
    display: flex;
    align-items: center;
    max-height: 400px;
}
.para1{
    color: white;
    font-size: 50px;
    font-family: 'Cooper Black';
    font-weight: 1100;
    max-width:60%;
    padding-top: 0px;
    padding-left: 60px;
}

.wordcolor{
    color: #6BBF59;
}

.para2{
    color: white;
    font-size: 30px;
    font-family: 'Lucida Fax';
    max-width:60%;
    padding-left: 60px;
}

.pagegif{
    padding-left: 20%;
    height: 400px;
    padding-top: 1%;
    padding-right: 1%;
    background-image: url();
}