.imgback{
    background-color: rgb(107, 191, 89);
    margin-right: 0%;
    width: 600px;
    height: 800px;

}
.img{
    background-color: rgb(107, 191, 89, 0);
    width: 400px;
    height: 400px;
    padding-left: 80px;
    padding-top: 40%;
}
.title{
    color: white;
    font-family: 'Cooper Black';
    font-size: 60px;
    font-weight: 300;
    padding: 20px;
}
.wholething{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.right{
    margin: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    background-color:black;
    color: white;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    width:300px;
    align-items: center;
    font-size: 18px;
    margin: 10px;
    padding: 10px;

}
input:-ms-input-placeholder{
    background-color: black !important;
}
.password{
    color: white;
    margin-left: 21%;
    padding-bottom: 40px;
}
 .boxes{
    display: flex;
    flex-direction: column;
    margin-left: 20%;

 }
 .button1{
    height: 68px;
    width: 337px;
    color: white;
    background-color: #08A045;
    border-radius: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    
 }
 .button2{
    height: 68px;
    width: 337px;
    color: white;
    background-color: #263238;
    border-radius: 10px;
    font-size: 24px;

    
 }
 .rightside{
    margin-left: 20%;
 }