@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Font&display=swap');

.navdiv{
    color: white;
    display: flex;
    font-size: 64px;
    font-weight: 900;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-top: 0px;
    align-items: center;
    font-family: inter;
    justify-content: space-between;
    width: 90%;
}

.title{
    font-size: 64px;
    font-family: 'Cooper Black';
    padding-left: 80px;
    margin-top: 30px;
    
}
.navbutton{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border: none;
}
.imgicon{
    width: 20px;
    margin-right: 20px;
    background-color: white;
}

.midpart{
    display: flex;
    color: white;
}
.box1{
    width: 702px;
    height: 200px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    background-color: #1E1E1E;
    margin-left: 86px;
    border-radius: 20px;
}

.username1{
    font-size: 36px;
    font-family: 'cooper black';
}
.email1, .phDOB1, .phDOB{
    font-size: 20px;
    padding-left: 5px;
    
}

.phDOB{
    display: flex;
    justify-content: space-between;
    padding-right: 80px;
    padding-top: 40px;
}
.phDOB1{
    display: flex;
    justify-content: space-between;
    padding-right: 88px;
}

.box2{
    background-color: #08A045;
    width: 300px;
    border-radius: 20px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: 40px;
}

.balance1{
    font-size: 24px;
    padding-left: 30px;
    font-family: 'Radio Canada Font', sans-serif;

}

.money1{
    padding-left: 30px;
    font-size: 36px;
    font-family: 'cooper black';
}